# .gitignore

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled files
*.class
*.o
*.so
*.dll
*.exe

# Ignore Python cache files
__pycache__/
*.pyc
Labs/Lab1-std.zip
Labs/Lab2-std.zip
Labs/Lab3-std.zip
Labs/Lab4-std.zip
Labs/lab5-std.zip
Labs/Lab6-std.zip
Lectures
Labs/Lab7-std.zip
Labs/Lab8-std.rar
Labs/Lab8-std.zip
Labs/Lab8-std/Lab8-std/Classification.zip
Labs/Lab8-std/Lab8-std/HoG.zip
Labs/Lab9-std.zip
Labs/Lab9-std/Lab9-std/Lab_Seg2_STD.ipynb
Project/PalmPilot
